.todo-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 3fr));
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 1024px) {
  .todo-list {
    grid-template-columns: repeat(2, minmax(200px, 4fr));
    gap: 20px;
  }
}

@media screen and (max-width: 524px) {
  .todo-list {
    grid-template-columns: repeat(1, minmax(200px, 5fr));
    gap: 20px;
  }
}
